@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

* {
    color: red;
    font-family: 'BIZ UDPGothic', sans-serif;
    
   
}
body{
    background-image: url(dr.jpg);
    background-position: left top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.abcd {
    color: brown;

}
h1{
 font-style:italic;
 font-size: 30px;
 font-weight: 900;
 text-shadow: 10px 10px red;
}

/*input{
    color: blueviolet;
}*/